<section
  class="relative mt-32 mb-[300px] w-3/5 flex-col text-center items-center justify-center"
>
  <img
    src="/public/assets/lpAssets/mystery-opened-spellbook.png"
    alt=""
    width="60"
    class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
  />

  <h3 class="mt-16 text-3xl tracking-tight relative z-10">
    Receba todo mês um <span class="text-cyan-400">livro surpresa</span> do seu tema
    favorito, acompanhado de <span class="text-cyan-400">
      brindes exclusivos
    </span> que tornarão a sua experiência literária <span
      class="text-cyan-400"
    >
      encantadora
    </span>
  </h3>

  <img
    src="/public/assets/lpAssets/mystery-ouija-planchette.png"
    alt=""
    width="60"
    class="absolute bottom-[-40px] left-0 transform translate-x-1/2 translate-y-1/2"
  />

  <img
    src="/public/assets/lpAssets/mystery-crystal-ball.png"
    alt=""
    width="60"
    class="absolute bottom-[-40px] right-0 transform -translate-x-1/2 translate-y-1/2"
  />
</section>

<style>
  .teste {
    background: linear-gradient(to right, #13081b, #0c0715, #13081b);
  }
</style>
