<section class="w-4/5 flex items-center justify-between p-4">
  <img src="/public/assets/lpAssets/logo-horizontal.svg" alt="" />

  <button
    class="h-10 px-5 bg-[#7d298a] rounded-lg justify-center items-center inline-flex"
  >
    <div class="text-right text-[#f8fafb] text-sm font-bold">Assinar</div>
    <div class="w-1 h-1 bg-[#7d298a] rounded-full"></div>
  </button>
</section>
