<section
  class="mt-20 mb-[500px] w-5/5 flex-col text-center items-center justify-center p-4 teste"
>
  <h1 class="mt-4 text-6xl font-bold tracking-tight">
    Desperte a sua imaginação
  </h1>
  <h1 class="mt-4 text-6xl font-bold tracking-tight">
    e explore novos mundos
  </h1>
  <div class="mt-10">
    <p class="text-xl leading-7 text-zinc-400">
      Junte-se ao clube de assinatura Encantos Literários e
    </p>
    <p class="text-xl leading-7 text-zinc-400">
      descubra maravilhas e aventuras a cada página
    </p>
  </div>
</section>
